.heroimg {
    background-image: url();
    background-size: cover;
}
.logo img {
    height: 55px;
}
H1,H2,H5 {
    font-family: Shippori Antique;
}
a,p,H4 {
    font-family: Kosugi Maru;
}
.text-space {
    background-color: #223557;
}
.btn-space {
    background-color: #223557;
    color: #ffffff;
}
.btn-space:hover {
    background-color: #4f658b;
    color: #ffffff;
}
.btn-start {
    background-color: #223557;
    color: bisque;
    border: bisque;
}
.btn-start:hover {
    background-color: bisque;
    color:  #223557;
    border: 2px, bisque;
}
.card {
    background-color: bisque;
    color: #5e4040;
}
.btn-paper {
    background-color: bisque;
    color: #5e4040;
}
.btn-paper:hover {
    background-color: rgb(199, 167, 127);
    color: #ffffff;
}
.card-img-top {
    width: auto;
    height: 195px;
    object-fit: cover;
}
.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}